*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1
{
    padding: 15px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: .1rem;
}

h2
{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .1rem;
}

h4
{
    color:rgb(30, 188, 255);
}


header
{
    height: 240px;
    text-align: center ;
    /*padding: 10px;*/
    background-color:rgb(30, 188, 255);  
    color: white; 
    /*max-width: 1200px;*/
}

body
{
    max-width: 1100px;
    margin:auto;
    background-color:white;
}

#wrapper
{
    max-width: 1100px;
    
    background-color: rgba(187, 145, 145, 0.326); 
    
}

.contact img
{
    border-radius: 10px;    
    width: 30px;         
}

.contact p
{
    color: red;
}


.left
{
    display: flex;    
    /*justify-content: left;*/
    flex-direction: column;
    margin: 25px;
    float: left;
    width: 400px;
    margin-left: 80px;
    
}

.right
{
    display: flex;
    /*justify-content: right;*/
    
    margin: 25px;
    width: 400px;
    flex-direction: column;
    margin-left: 620px;
    
}

.competences
{
    margin-bottom: 15px;
}

.langues
{
    margin-bottom: 15px;

}

.permis
{
    margin-bottom: 15px;

}

.centres
{
    margin-bottom: 15px;


}
.experiences
{
    margin: auto;
}
.formations
{
   margin: auto;
}
.footer
{
    text-align: center ;
    padding: 15px;
    background-color: rgb(30, 188, 255);  
    color:red;   
}

.footer img
{
    border-radius: 10px;    
    width: 15px;       
}