*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1
{
    padding: 25px;
    text-align: center;
    font-size: 50px;
}

h2
{
    text-align: center;
    font-size: 30px;
}
header
{
    text-align: center ;
    padding: 20px;
    background-color: dodgerblue;  
    color: white; 
}



.contact img
{
    border-radius: 10px;    
    width: 30px;         
}

.footer img
{
    border-radius: 10px;    
    width: 15px;
       

}

.footer
{
    text-align: center ;
    padding: 20px;
    background-color: rgb(30, 255, 240);  
    color:black;
}

.left
{
    display: flex;
    text-align: left;
    
}

.right
{
    display: flex;
    text-align: right;
}

.center
{
    display: flex;
}